.main-container {
    background-color: #f2f5f7;
    min-height: 100vh;
}

.container {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 15%;
}

@keyframes slideInFromTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.search-bar {
    width: 35%;
    animation: 0.5s ease-out 0s 1 slideInFromTop;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.spotify-player {
    margin-top: 48px;
    width: 60%;
    animation: 2s ease-out 0s 1 fadeIn;
}

.new-user-message-container {
    color: #125ec8;
    margin-top: 48px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 1s ease-out 0s 1 fadeIn;
}

.title {
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 48px;
}

.motto {
    font-size: 20px;
}
