@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

.playlist-list {
  background-color: #125ec8;
  color: white;
  position: absolute;
  height: 100%;
  width: 21%;
  min-width: 50px;
  left: 0;
  top: 0;
  animation: 0.5s ease-out 0s 1 slideInFromLeft;
}

.header {
  display: flex;
  flex-direction: column;
}

.title {
  margin-bottom: 48px;
  font-weight: 600;
  font-size: 48px;
}

.motto {
  font-size: 20px;
}

.playlist-button {
  font-size: 18px;
}

.white-divider {
  background-color: white!important;
}
