.main-container {
  background-color: #f2f5f7;
  min-height: 100vh;
}

.lift-container {
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search-bar {
  width: 35%;
}

.track-list {
  margin: 24px;
}
