.empty-player-container {
    margin-top: 48px;
    width: 60%;
    color: #125ec8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: 1s ease-out 0s 1 fadeIn;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.empty-player-title {
    margin-bottom: 48px;
    font-weight: 600;
    font-size: 48px;
}

.empty-player-motto {
    font-size: 20px;
}

.player-container {
    margin-top: 48px;
    width: 60%;
    animation: 1s ease-out 0s 1 fadeIn;
}

.player {
    border: 0;
    height: 240px;
    width: 100%
}
